body{
    max-width: 100%;
    overflow-x: hidden;
    background-color:black;
    margin:0;
}

.project-description{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    /* position: absolute; */

}
.instruction{
    position: absolute;
    margin: 512px 37px 24px 435px;
    top: 135px;
    left: 176px;
    z-index: 3;


}
.button{
    display: flex;
    padding: 20px 21px 17px 656px;
    margin: 553px 17px 13px 42px;
    position: absolute;
    top: 166px;
    left: 16px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    
}

h1{
    color: white;
    font-weight: 500;
    position: relative;
    font-size: x-large;
    z-index: 3;
    margin: 10px 10px 10px 10px;
    
}
h2{
    color: white;
    z-index: 3;
}

p{
    color: white;
    font-weight: 500;
    font-size: larger;
    margin: 10px 10px 10px 10px;
    z-index: 3;
}


/* #3jsCanvas{
    width: 100%;
    height: 100%;
    margin: -151px 10px 10px 10px;
    position: fixed;
    top: 49px;
    z-index: 5;
    
} */

canvas{
    width: 100%;
    height:100%;
    margin: -126px 10px 10px 10px;
    z-index: 5;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  
  }
